body {
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35vw;
    height: 100vh;
    margin: auto;
}
.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    border: solid 2px #053fba;
    background: linear-gradient(to bottom right, #0243BB,#0588FE,#24B4FD,lightblue);
    border-radius: 12px;
}
.Emisor {
    text-align: left;
}
.Receptor {
    background: #00e676;
    text-align: right;
}