body {
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 36vw;
    height: 100vh;
    margin: auto;
}
.contenedor {
    height: auto;
    border: solid 2px #053fba;
    background: linear-gradient(to bottom right, #0243BB,#0588FE,#24B4FD,lightblue);
    border-radius: 12px;
    width: 36vw;
}
.Emisor {
    text-align: left;
    padding-left: 5px;
    width: 17vw;
}
.Receptor {
    background: #00e676;
    text-align: right;
    padding-right: 5px;
    margin-left: 18vw;
    width: 17vw;
}