body {
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 36vw;
    height: 100vh;
    margin: auto;
}
.contenedor {
    height: auto;
    border: solid 2px gray;
    background: linear-gradient(to bottom right,#E5DDD5,#F0F0F0,#FFFFFF);
    border-radius: 12px;
    width: 36vw;
}
.Emisor {
    background: #ffffff;
    text-align: left;
    margin: 3px 0px 1px 3px;
    padding-left: 5px;
    width: 17vw;
    border-radius: 5px;
}
.Receptor {
    background: #dcf8c6;
    /*text-align: right;*/
    padding-left: 5px;
    margin: 1px 0px 3px 0px;
    margin-left: 18vw;
    width: 17vw;
    border-radius: 5px;
}